<div class="container">
    <h1>Product Emissions Table</h1>
    <table id="summaryTable" class="display">
        <thead>
            <tr>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>ProductWeight</th>
                <th>PackageWeight</th>
                <th>ProductEmission</th>
                <th>PackageEmission</th>
                <th>TotalEmission</th>
                <th>Unit</th>
                {# <th>TransportEmissionEurope</th> #}
                {# <th>TransportEmissionOverseas</th> #}
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Data will be inserted here via JavaScript -->
        </tbody>
    </table>
</div>